html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}body{-webkit-text-size-adjust:none}mark{background-color:transparent;color:inherit}input::-moz-focus-inner{border:0;padding:0}input[type="text"],input[type="email"],select,textarea{-moz-appearance:none;-webkit-appearance:none;-ms-appearance:none;appearance:none}

*, *:before, *:after {
	box-sizing: border-box;
}

body {
	min-width: 320px;
	min-height: 100vh;
	line-height: 1.0;
	word-wrap: break-word;
	overflow-x: hidden;
	background-color: #202124;
}

u {
	text-decoration: underline;
}

strong {
	color: inherit;
	font-weight: bolder;
}

em {
	font-style: italic;
}

code {
	font-family: 'Lucida Console', 'Courier New', monospace;
	font-weight: normal;
	text-indent: 0;
	letter-spacing: 0;
	font-size: 0.9em;
	margin: 0 0.25em;
	padding: 0.25em 0.5em;
	background-color: rgba(144,144,144,0.25);
	border-radius: 0.25em;
}

mark {
	background-color: rgba(144,144,144,0.25);
}

a {
	-moz-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
	-webkit-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
	-ms-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
	transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
	color: inherit;
	text-decoration: underline;
}

s {
	text-decoration: line-through;
}

html {
	font-size: 18pt;
}

#wrapper {
	-webkit-overflow-scrolling: touch;
	display: flex;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: flex-start;
	-webkit-justify-content: flex-start;
	-ms-justify-content: flex-start;
	justify-content: flex-start;
	min-height: 100vh;
	position: relative;
	z-index: 2;
	overflow: hidden;
}

#main {
	display: flex;
	position: relative;
	max-width: 100%;
	z-index: 1;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-moz-flex-grow: 0;
	-webkit-flex-grow: 0;
	-ms-flex-grow: 0;
	flex-grow: 0;
	-moz-flex-shrink: 0;
	-webkit-flex-shrink: 0;
	-ms-flex-shrink: 0;
	flex-shrink: 0;
	text-align: center;
}

#main > .inner {
	position: relative;
	z-index: 1;
	border-radius: inherit;
	padding: 3rem 3rem;
	max-width: 100%;
	width: 70rem;
}

#main > .inner > * {
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
}

#main > .inner > :first-child {
	margin-top: 0 !important;
}

#main > .inner > :last-child {
	margin-bottom: 0 !important;
}

#main > .inner > .full {
	margin-left: calc(-3rem);
	width: calc(100% + 6rem + 0.4725px);
	max-width: calc(100% + 6rem + 0.4725px);
}

#main > .inner > .full:first-child {
	margin-top: -3rem !important;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

#main > .inner > .full:last-child {
	margin-bottom: -3rem !important;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

#main > .inner > .full.screen {
	width: 100vw;
	max-width: 100vw;
	position: relative;
	border-radius: 0 !important;
	left: 50%;
	right: auto;
	margin-left: -50vw;
}

body.is-instant #main, body.is-instant #main > .inner > *,body.is-instant #main > .inner > section > *  {
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}

body.is-instant:after {
	display: none !important;
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}

h1 br + br, h2 br + br, h3 br + br, p br + br {
	display: block;
	content: ' ';
}

h1 .li, h2 .li, h3 .li, p .li {
	display: list-item;
	padding-left: 0.5em;
	margin: 0.75em 0 0 1em;
}

#text01 br + br {
	margin-top: 0.9rem;
}

#text01 {
	color: #F5F5F5;
	font-family: 'Arimo', sans-serif;
	font-size: 1.125em;
	line-height: 1.5;
	font-weight: 700;
}

#text01 a {
	text-decoration: underline;
}

#text01 a:hover {
	text-decoration: none;
}

#text03 br + br {
	margin-top: 0.9rem;
}

#text03 {
	color: #B9BBBE;
	font-family: 'Asap', sans-serif;
	font-size: 0.5em;
	line-height: 1.5;
	font-weight: 400;
}

#text03 a {
	text-decoration: underline;
}

#text03 a:hover {
	text-decoration: none;
}

#text04 br + br {
	margin-top: 0.9rem;
}

#text04 {
	text-align: left;
	color: #F5F5F5;
	font-family: 'Arimo', sans-serif;
	font-size: 0.875em;
	line-height: 1.5;
	font-weight: 700;
}

#text04 a {
	text-decoration: underline;
}

#text04 a:hover {
	text-decoration: none;
}

#text02 br + br {
	margin-top: 0.9rem;
}

#text02 {
	text-align: left;
	color: #B9BBBE;
	font-family: 'Asap', sans-serif;
	font-size: 0.625em;
	line-height: 1.5;
	font-weight: 400;
	margin-left: 5.4em;
}

#text02 a {
	text-decoration: underline;
}

#text02 a:hover {
	text-decoration: none;
}

hr {
	width: 100%;
	position: relative;
	padding: 0;
	border: 0;
}

hr:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
}

#divider02:before {
	width: 100%;
	border-top: solid 1px rgba(94,94,94,0.341);
	height: 1px;
	margin-top: -0.5px;
}

#divider01:before {
	width: 100%;
	border-top: solid 1px rgba(94,94,94,0.341);
	height: 1px;
	margin-top: -0.5px;
}

@media (max-width: 1680px) {
	html {
		font-size: 13pt;
	}
}

@media (max-width: 1280px) {
	html {
		font-size: 13pt;
	}
}

@media (max-width: 980px) {
	html {
		font-size: 11pt;
	}
}

@media (max-width: 736px) {
	html {
		font-size: 11pt;
	}
	
	#main > .inner {
		padding: 3rem 2rem;
	}
	
	#main > .inner > * {
		margin-top: 0.75rem;
		margin-bottom: 0.75rem;
	}
	
	#main > .inner > .full {
		margin-left: calc(-2rem);
		width: calc(100% + 4rem + 0.4725px);
		max-width: calc(100% + 4rem + 0.4725px);
	}
	
	#main > .inner > .full:first-child {
		margin-top: -3rem !important;
	}
	
	#main > .inner > .full:last-child {
		margin-bottom: -3rem !important;
	}
	
	#main > .inner > .full.screen {
		margin-left: -50vw;
	}
	
	#text01 {
		letter-spacing: 0rem;
		width: 100%;
		font-size: 1.125em;
		line-height: 1.5;
	}
	
	#text03 {
		letter-spacing: 0rem;
		width: 100%;
		font-size: 0.5em;
		line-height: 1.5;
	}
	
	#text04 {
		letter-spacing: 0rem;
		width: 100%;
		font-size: 0.875em;
		line-height: 1.5;
	}
	
	#text02 {
		letter-spacing: 0rem;
		width: 100%;
		font-size: 0.625em;
		line-height: 1.5;
	}
	
	#divider02:before {
		width: 100%;
	}
	
	#divider01:before {
		width: 100%;
	}
}

@media (max-width: 480px) {
	#main > .inner > * {
		margin-top: 0.65625rem;
		margin-bottom: 0.65625rem;
	}
}

@media (max-width: 360px) {
	#main > .inner {
		padding: 2.25rem 1.5rem;
	}
	
	#main > .inner > * {
		margin-top: 0.5625rem;
		margin-bottom: 0.5625rem;
	}
	
	#main > .inner > .full {
		margin-left: calc(-1.5rem);
		width: calc(100% + 3rem + 0.4725px);
		max-width: calc(100% + 3rem + 0.4725px);
	}
	
	#main > .inner > .full:first-child {
		margin-top: -2.25rem !important;
	}
	
	#main > .inner > .full:last-child {
		margin-bottom: -2.25rem !important;
	}
	
	#main > .inner > .full.screen {
		margin-left: -50vw;
	}
	
	#text01 {
		font-size: 1.125em;
	}
	
	#text03 {
		font-size: 0.5em;
	}
	
	#text04 {
		font-size: 0.875em;
	}
	
	#text02 {
		font-size: 0.625em;
	}
	#form01 label:first-child {
		font-size: 0.625em;
		line-height: 1.5;
		letter-spacing: 0rem;
	}
	
	#form01 input[type="text"], #form01 input[type="email"], #form01 input[type="tel"], #form01 input[type="number"], #form01 textarea, #form01 select, #form01 input[type="checkbox"] + label, #form01 .file {
		font-size: 0.625em;
		letter-spacing: 0rem;
	}
	
	#form01 textarea {
		line-height: 1;
		padding-top: 0.525rem;
	}
	
	#form01 .actions button {
		font-size: 0.625em;
		letter-spacing: 0rem;
	}
	
	#form01 .inner {
		flex-direction: column;
	}
	
	#form01 .inner .field {
		flex-grow: 0;
	}
	
	#form01 .inner > * {
		margin: 0rem 0 0 0;
	}
	
	#form01 .inner > :first-child {
		margin: 0;
	}
	#form01 .inner .actions {
		width: 100%;
	}
	
	#form01 .actions button {
		width: 100%;
		max-width: 32rem;
	}
}

#footer {
	margin-top: 2.75rem !important;
}
#table01 {
	color: #FFFFFF;
	font-family: 'Arimo', sans-serif;
	font-size: 0.625em;
	line-height: 1.5;
	font-weight: 400;
    margin-left: auto;
    margin-right: auto;
}

#table01 a {
	color: #a7a40c;
	text-decoration: none;
}

#table01 a:hover {
	color: #B51F21;
	text-size-adjust: 0.7em;
}

#table01 .table-inner {
	width: auto;
}

#table01 th:nth-child(4), #table01 td:nth-child(4) {
	text-align: right;
}

#table01 th:nth-child(5), #table01 td:nth-child(5) {
	text-align: right;
}

#table01 thead {
	border-bottom: solid 2px #FFFFFF;
}

#table01 tbody tr {
	border-top: solid 1px rgba(255,255,255,0.373);
}

#table01 tbody tr:first-child {
	border-top: 0;
}

#table01 th, #table01 td {
	padding: 0.375rem 0.515625rem;
}

#table01 th:first-child, #table01 td:first-child {
	padding-left: 0;
}

#table01 th:last-child, #table01 td:last-child {
	padding-right: 0;
}

#table01.centerTable { 
	margin: 0px auto; 
	margin-left: auto;
 	margin-right: auto;
	justify-content: center;
	align-items: center;
}
#form01 .inner > * {
	margin: 0 0 0 0rem;
}

#form01 .inner > :first-child {
	margin: 0;
}

#form01 .inner {
	width: 19rem;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: center;
	margin-left: auto;
margin-right: auto;
}

#form01 label:first-child {
	margin: 0.25rem 0 0.25rem 0;
	font-size: 0.625em;
	line-height: 1.5;
	font-family: 'Asap', sans-serif;
	font-weight: 600;
	color: #FFFFFF;
}

#form01 .field button {
	width: 1.6rem;
	height: 1.6rem;
	line-height: 1.6rem;
	background-size: 0.8rem;
	border-radius: 0.08rem;
	background-color: #FFFFFF;
	transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
}

#form01 .field button:hover {
	background-color: rgba(255,255,255,0.18);
}

#form01 .field button svg {
	fill: rgba(36,36,36,0.49);
	transition: fill 0.25s ease;
}

#form01 input[type="text"], #form01 input[type="email"], #form01 input[type="tel"], #form01 input[type="number"], #form01 textarea, #form01 select, #form01 input[type="checkbox"] + label, #form01 .file {
	font-size: 0.625em;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	border-radius: 0.125rem;
}

#form01 .file {
	position: relative;
}

#form01 .file > input[type="file"] {
	background-color:rgba(36,36,36,0.49);
	height: 100%;
	width: 100%;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
}

#form01 .file[data-filename]:before {
	content: attr(data-filename);
	display: block;
	position: absolute;
	top: 0;
	height: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	background-position: left;
	background-repeat: no-repeat;
}

#form01 .file[data-filename=""]:before {
	content: attr(data-placeholder);
	background-image: none !important;
	padding-left: 0 !important;
}

#form01 input[type="text"], #form01 input[type="email"], #form01 input[type="tel"], #form01 input[type="number"], #form01 textarea, #form01 select, #form01 .file {
	color: #FFFFFF;
	background-color: rgba(36,36,36,0.49);
}

#form01 input[type="checkbox"] + label {
	color: #FFFFFF;
}

#form01 input[type="text"], #form01 input[type="email"], #form01 input[type="tel"], #form01 input[type="number"], #form01 select, #form01 .file {
	height: 2rem;
	padding: 0 0.7rem;
	line-height: 2rem;
}

#form01 textarea {
	padding: 0.7rem;
	height: 10rem;
	line-height: 1;
	padding-top: 0.525rem;
}

#form01 select {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='504' height='552' preserveAspectRatio='none' viewBox='0 0 504 552'%3E%3Cpath d='M483.9,210.9L252,442.9L20.1,210.9l67.9-67.9L252,307.1l164.1-164.1L483.9,210.9z' fill='%23FFFFFF' /%3E%3C/svg%3E");
	background-position: calc(100% - 0.7rem) center;
	padding-right: 2.25rem;
}

#form01 input[type="checkbox"] + label:before {
	border-radius: 0.125rem;
	color: #FFFFFF;
	background-color: rgba(36,36,36,0.49);
	width: 1.5rem;
	height: 1.5rem;
	background-size: 0.85rem;
	margin-right: 0.875rem;
}

#form01 input[type="checkbox"]:checked + label:before {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='648' height='552' preserveAspectRatio='none' viewBox='0 0 648 552'%3E%3Cpath d='M225.3,517.7L2.1,293.1l68.1-67.7L226,382.3L578.1,35.6l67.4,68.4L225.3,517.7z' fill='%23FFFFFF' /%3E%3C/svg%3E");
}

#form01 .number > input[type="number"] {
	padding-left: 2.1rem;
	padding-right: 2.1rem;
}

#form01 .number > button.decrement {
	bottom: 0.2rem;
	left: 0.2rem;
}

#form01 .number > button.increment {
	bottom: 0.2rem;
	right: 0.2rem;
}

#form01 .file:before {
	width: calc(100% - 2.7rem);
	background-size: 0.625rem;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M27.4,4.5c-0.4-0.4-0.8-0.7-1.5-0.9c-0.6-0.3-1.2-0.4-1.7-0.4H7.1c-0.5,0-0.9,0.2-1.3,0.5S5.3,4.5,5.3,5.1v30.7 c0,0.5,0.2,0.9,0.5,1.3c0.4,0.4,0.8,0.5,1.3,0.5h25.8c0.5,0,0.9-0.2,1.3-0.5c0.4-0.4,0.5-0.8,0.5-1.3V13.7c0-0.5-0.1-1.1-0.4-1.7 c-0.3-0.6-0.6-1.1-0.9-1.5L27.4,4.5z M25.7,6.2l6,6c0.2,0.2,0.3,0.4,0.4,0.8h-7.2V5.8C25.3,5.9,25.5,6.1,25.7,6.2z M7.7,35.2V5.7 h14.7v8c0,0.5,0.2,0.9,0.5,1.3c0.4,0.4,0.8,0.5,1.3,0.5h8v19.7H7.7z' style='opacity: 0.375' fill='%23FFFFFF' /%3E%3C/svg%3E");
	background-position: left;
	padding-left: 0.875rem;
}

#form01 .file > button {
	bottom: 0.2rem;
	right: 0.2rem;
}

#form01 .actions button {
	height: 2rem;
	line-height: 2rem;
	padding: 0 1rem;
	font-size: 0.625em;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
	border-radius: 0rem;
	direction: var(--site-language-direction);
	background-color: rgba(36,36,36,0.49);
	color: #FFFFFF;
	transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
	position: relative;
}

#form01 .actions button:hover {
	background-color: rgba(255,255,255,0.18);
}

#form01 .inner .field {
	width: 100%;
	flex-grow: 1;
	flex-shrink: 1;
}

#form01 .inner .actions {
	flex-grow: 0;
	flex-shrink: 0;
}

#form01 .actions button:before {
	pointer-events: none;
	content: '';
	display: block;
	width: 1.5rem;
	height: 1.5rem;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -0.75rem 0 0 -0.75rem;
	animation: button-spinner 1s infinite linear;
	transition: opacity 0.25s ease;
	transition-delay: 0s;
	opacity: 0;
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iOTZweCIgaGVpZ2h0PSI5NnB4IiB2aWV3Qm94PSIwIDAgOTYgOTYiIHpvb21BbmRQYW49ImRpc2FibGUiPjxzdHlsZT5jaXJjbGUge2ZpbGw6IHRyYW5zcGFyZW50OyBzdHJva2U6ICNGRkZGRkY7IHN0cm9rZS13aWR0aDogMnB4OyB9PC9zdHlsZT48ZGVmcz48Y2xpcFBhdGggaWQ9ImNvcm5lciI+PHBvbHlnb24gcG9pbnRzPSIwLDAgNDgsMCA0OCw0OCA5Niw0OCA5Niw5NiAwLDk2IiAvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjb3JuZXIpIj48Y2lyY2xlIGN4PSI0OCIgY3k9IjQ4IiByPSIzMiIvPjwvZz48L3N2Zz4=');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 1.5rem;
}

#form01 .actions button.waiting {
	color: transparent;
}

#form01 .actions button.waiting svg {
	fill: transparent;
}

#form01 .actions button.waiting:before {
	opacity: 1.0;
	transition-delay: 0.125s;
}

#form01 ::-webkit-input-placeholder {
	color: #FFFFFF;
	opacity: 0.55;
}

#form01 :-moz-placeholder {
	color: #FFFFFF;
	opacity: 0.55;
}

#form01 ::-moz-placeholder {
	color: #FFFFFF;
	opacity: 0.55;
}

#form01 :-ms-input-placeholder {
	color: #FFFFFF;
	opacity: 0.55;
}

#form01 .file[data-filename=""]:before {
	color: #FFFFFF;
	opacity: 0.55;
}

#form02 .formwrapper {
	display: block;
}

#form02 .formwrapper input {
	height: 1.8rem;
	width: 15rem;
	padding: 0 0.5rem;
	line-height: 1.75rem;
	color: white;
	background-color: rgba(45,45,45,0.5);
	box-shadow: none;
	border: none;
	border-color: rgba(45,45,45,0.5);
	font-family: 'Ubuntu', sans-serif;
}



#form02 .formwrapper input:focus {
	outline: none;
}

#form02 .formWrapper button {
	height: 1.8rem;
	width: 3rem;
	padding: 0 0.5rem;
	line-height: 1.75rem;
	color: white;
	background-color: rgba(45,45,45,0.5);
	box-shadow: none;
	border: none;
	border-color: rgba(45,45,45,0.5);
	font-family: 'Ubuntu', sans-serif;
	transition: all 0.2s ease-in-out;
}

#form02 .formWrapper button:hover {
	background-color: rgb(45,45,45);
}

.tagcolor {
	color: #abaedc;
	background-color: rgba(88, 101, 242, 0.01);
	padding: 0.05em;
	border-radius: 2px;
}